name: Build APK

on:
  push:
    branches:
      - master
      - codex/add-built-in-vmess-agent-toggle
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '!.github/workflows/**'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build APK
        run: |
          chmod +x ./gradlew
          ./gradlew assembleAfatRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: APK
          path: TMessagesProj/build/outputs/apk/afat/release/*.apk
